*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #232323;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.painel-lista{
    /* margin: auto; */
    background-color: yellow;
    width: 50%;
    /* height: 100px; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    
}
.paniel-novaTarefa, .painel-lista-tarefa{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
input{
    background-color: rgba(52, 52, 52, 0.555);
    caret-color: white ;
    text-align: center;
    font-size: large;
    width: 85%;
    height: 40px;
    padding-left: 15px;
    border-radius: 25px;
    border: none;
    outline: none;
}
/* .addTarefa:hover, .tarefa-da-lista:hover{
    background-color: white;
} */
.painel-lista-tarefa{
    position: relative;
    justify-content: space-around;
    /* border: 1px solid red; */
    /* padding-left: 10px; */
}
.painel-lista-tarefa input{
    background-color: yellow;
    caret-color: black;
    text-align: center;
    width: 70%;
    margin: 10px;
}
.btnAdd, .painel-lista-tarefa button{
    background-color: yellow;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
button, .addTarefa:active{
    background-color: #232323;
}
.btnCheck{
    position: absolute;
    left: 0px;
}
button img{
    width: 60%;
    height: 60%;
    margin: auto;
    display: block;
}